<div class="main-content">
    <div class="selection-contetnt selection-content-p30">
        <div class="container-fluid">
            <form id="request" class="main_form" [formGroup]="addProductFormGroup" (ngSubmit)="onSubmit()">
                <div formGroupName="product">
                    <div style="padding-bottom:50px">
                        <h2>Product</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input class="contactus" placeholder="Name" formControlName="name" type="text">
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="(name.errors != null && (name.errors['required'] || name.errors['notOnlyWhiteSpace']))">
                                    Name is required
                                </div>
                                <div *ngIf="(name.errors != null && name.errors['minLength'])">
                                    Name must be at least 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                                <input  class="contactus" placeholder="Description" formControlName="desc" type="text">
                                <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="(desc.errors != null && (desc.errors['required'] || desc.errors['notOnlyWhiteSpace']))">
                                        Description is required
                                    </div>
                                    <div *ngIf="(desc.errors != null && desc.errors['minLength'])">
                                        Description must be at least 2 characters long
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                                <input  class="contactus" placeholder="Price" formControlName="price" type="text">
                                <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="(price.errors != null && price.errors['required'])">
                                        Price is required
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                                <select class="contactus" formControlName="available">
                                    <option value="" disabled selected hidden>Status</option>
                                    <option>available</option>
                                    <option>not available</option>
                                </select>
                                <div *ngIf="available.invalid && (available.dirty || available.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="(available.errors != null && available.errors['required'])">
                                        Status is required
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Image</label>
                        </div>
                        <app-file-uploader></app-file-uploader>
                    </div>
                </div>

                <div class="text-center">
                    <div  type="submit" class="col-md-12">
                        <button class="send_btn">Publish</button>
                     </div>
                </div>
            </form>
        </div>
    </div>
</div>
