<table class="table">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Rating</th>
            <th>Available</th>
            <th>Price</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let tempProduct of products">
            <td class="align-middle">
                <img src="assets/images/product-placeholder.png" height="50" />
            </td>
            <td class="align-middle">{{ tempProduct.name }}</td>
            <td class="align-middle">{{ tempProduct.rating }}</td>
            <td class="align-middle">{{ tempProduct.available }}</td>
            <td class="align-middle">{{ tempProduct.price | currency:'EUR'}}</td>
        </tr>
    </tbody>
</table>
