<div class="main-content-fit">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>User Type</th>
                        <th>Registration Date</th>
                        <th>Actions</th>
                        <th></th>
                    </tr>
            
                </thead>
                <tbody>
                    <tr *ngFor="let tempUser of users">
                        
                        <td class="align-middle">
                            <div class="d-flex align-items-center">
                                <img
                                    src={{tempUser.profilePicture}}
                                    alt=""
                                    style="width: 55px; height: 55px"
                                    class="rounded-circle"
                                    />
                                <div class="ms-3">
                                  <p class="fw-bold mb-1">{{ tempUser.name }}</p>
                                  <p class="text-muted mb-0">{{ tempUser.email }}</p>
                                </div>
                              </div>
                        </td>
                        <td class="align-middle">{{ tempUser.username }}</td>
                        <td class="align-middle" *ngIf ="tempUser.userType == 0">Admin</td>
                        <td class="align-middle" *ngIf ="tempUser.userType == 1">Customer</td>
                        <td class="align-middle" *ngIf ="tempUser.userType == 2">Seller</td>
                        <td class="align-middle">{{ tempUser.registrationDate }}</td>
                        <td class="align-middle">
                            <button style="color: green;" (click)="editAccount(tempUser.username)">
                                Edit
                            </button>
                        </td>
                        <td class="align-middle">
                            <button style="color: red;" (click)="deleteAccount(tempUser.id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
    
</div>
