
<div class="main-content">
    <main class="container">
 
        <!-- Left Column / Headphones Image -->
        <div class="left-column">
          <img src="{{product.image}}" alt="{{product.name}}">
        </div>
       
       
        <!-- Right Column -->
        <div class="right-column">
       
          <!-- Product Description -->
          <div class="product-description">
            <span>{{product.name}}</span>
            <h1>{{product.name}}</h1>
            <p>{{product.desc}}</p>
          </div>
       
          <!-- Product Pricing -->
          <div class="product-price">
            <span>148$</span>
            <a href="#" class="cart-btn">Add to cart</a>
          </div>
        </div>
      </main>
    
    <div class="details-section">
        <div class="container-fluid">

            <!-- <img src="{{product.image}}" class="detail-img"> -->

            <h3>{{product.name}}</h3>
            <h6> Status: {{product.available == 1 ? "Available": "Not Available"}}</h6>
            <h6> Rating: {{product.rating}}</h6>

            <div class="price">{{product.price | currency:'EUR'}}</div>
            <div *ngIf="product?.available == 1">
                <button (click)="addToCart()" class="btn btn-primary btn-sm">Add to cart</button>
            </div>
            <div *ngIf="product?.available == 0">
                <button class="btn btn-primary btn-sm" disabled>Add to cart</button>
            </div>
            

            <!-- only admin/seller -->
            <div  *ngIf="isAdmin" style="padding-top: 10px;">
                <button (click)="editProduct()" class="btn btn-primary btn-sm">Edit</button>
                <button (click)="deleteProduct()" class="btn btn-primary btn-sm">Delete</button>
            </div>

            <hr>
            <h4>Description</h4>
            <p>{{product.desc}}</p>

            <a routerLink="/products" class="mt-5">Back to Product List</a>
        </div>
    </div>
</div>
